.home-background {
    background-image: url(/public/bakgrunn-hjem.JPG);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-screen {
    background-color: var(--color-primary);
}

h1 {
    color: var(--color-primary);
}

.dark-pink-animation {
    transition: all .3s ease;
}

.dark-pink-animation:hover {
    color: var(--color-pink-dark)
}

.header-h1 {
    filter: drop-shadow(0 3px 2px rgb(179, 93, 210));
}

@media (max-width: 540px) {
    .home-background {
        background-image: url(/Wishlist.jpg); 
    }
}